
<form action="{{ path('create_blog')}}" method="post">
    <input type="text" name="name" placeholder="Nom du blog" required>
    <input type="text" name="author" placeholder="Auteur" required>
    <input type="number" name="rate" placeholder="Note" required>
    <button type="submit">Créer</button>
</form>
